@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@400;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');

body{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    width: 90vw;
    margin: 0px auto;
  }
 #marq{
    color: orange;
 }
#header{
    display: flex;
    justify-content: space-between;
    #school{
        display: flex;
        align-items: center;
        h3{
            font-size: 32px;
            font-weight: bold;
        }
    }
    #nav{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            list-style-type: none;
            align-items: center;
            li{
                margin-right: 20px;
                a{
                    font-size: 20px;
                    font-weight: 600px;
                    text-decoration:none;
                    text-align: center;
                    text-decoration-color: none;
                }
            }
        }
        
    }
    .burger-menu{
        display:none;
    }
    #contact{
        display: flex;
        margin: none;
        display: inline-block;
        button{
            margin-top: 30px;
            background-color: rgba(254, 163, 1, 1);
            border-radius: 12px;
            padding: 10px 60.5px;
            border-style: none;
            color: white;
            margin: none;
            margin-right: none;
            padding-right: none;
        };
    }
       
}
#banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    #empower-head{
        margin-right: 20px;
    }
    h3{
        font-size: 56px;
        margin-bottom: none;
    }
    p{
        margin-top: none;
        font-size: 20px;
    }
    button{
        background-color: orange;
        color: white;
        border-radius: 12px;
        font-size: 20px;
        border-style: none;
        width: 190px;
        height: 50px;
    }
}
#Standard-Curriculum{
    background-image:  url(./assets/bg.png);
    h3{
        text-align: center;
        font-size: 46px;
    }
    #card-div{
        display: flex;
        justify-content: space-between;
        .curr-card{
            padding-top: 52px;
            text-align: center;
            width: 367.8px;
            border-radius: 18.86px;
            border-style: solid;           
            }
            #card1.curr-card{
                background-image: linear-gradient(to top, white, rgba(219, 240, 250, 1));
                border-color: rgba(219, 240, 250, 1); 
            }
            #card2.curr-card{
                background-image: linear-gradient(to top, white, rgba(250, 239, 217, 1));
                border-color: rgba(250, 239, 217, 1);
            }
            #card3.curr-card{
                background-image: linear-gradient(to top, white, rgba(236, 227, 249, 1));
                border-color: rgba(236, 227, 249, 1);
            }
            
            button{
                background: none;
                background-color: transparent;
                border-style: none;
                font-size: 24px;
                cursor: pointer;
            }
        }
    #arrow-div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            button{
                    background-color: orange;
                    border-radius: 50%;
                    border-style: none;
                    color: white;
                    font-size: 24px;
                    padding: 17px 23px;
                    margin-right: 10px;
                    margin-top: 10px;
                    margin-bottom: 10px;
            }
        
    }
}

#stories{
    background-image:  url(./assets/bg.png);
    border-style: none;
    background-size: cover;
    background-image: linear-gradient(to bottom, white, rgba(249, 221, 173, 1) );
    text-align: center;
    #story-cards{ 

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 9px auto;
        max-width: 1170px;
        border-radius: 16px;
        gap:10px;
        #Scard1{
            text-align: start;
            width: 540px;
            background-color: rgba(249, 221, 173, 1);
            border-radius: 16px;
            grid-row:1 / 3;
            grid-column: 1 / 2;         
            #img1{
               img{
                border-radius: 16px;
               }
               
            }
            #date1{
                font-size: 15.34px;
                text-align: center;
                justify-content: center;
                align-items: center;
                background-color: rgba(60, 216, 232, 1);
                color: white;
                border-radius: 47.93px;
                padding-top: 1px;
                width: 175px;
                height: 48px;
                margin-top: -30px;
                margin-left: 10px;
                position: relative;
                z-index: 1;
            }
        }
        #Scard2{
            border-radius:12px;
            grid-row: 1/1;
            grid: 2/3;
            #img2{
                img{
                        border-radius: 16px;
                       }
                }
            #date2{
                 font-size: 15.34px;
                 text-align: center;
                 justify-content: center;
                 align-items: center;
                 background-color: rgba(60, 216, 232, 1);
                 color: white;
                 border-radius: 47.93px;
                 padding-top: 1px;
                 width: 175px;
                 height: 48px;
                 margin-top: -30px;
                 margin-left: 55px;
                 position: relative;
                 z-index: 1;
             }
        }
        #Scard3{
            border-radius: 12px;
            grid-row: 1/ 1;
            grid-column: 3/4;
            #img3{
                img{
                        border-radius: 16px;
                       }
                }
            #date3{
                 font-size: 15.34px;
                 text-align: center;
                 justify-content: center;
                 align-items: center;
                 background-color: rgba(60, 216, 232, 1);
                 color: white;
                 border-radius: 47.93px;
                 padding-top: 1px;
                 width: 175px;
                 height: 48px;
                 margin-top: -30px;
                 margin-left: 55px;
                 position: relative;
                 z-index: 1;
             }
        }
        #Scard4{
            grid-row: 2/2;
            grid-column: 2/3;
            #img4{
                img{
                        border-radius: 16px;
                       }
                }
            #date4{
                 font-size: 15.34px;
                 text-align: center;
                 justify-content: center;
                 align-items: center;
                 background-color: rgba(60, 216, 232, 1);
                 color: white;
                 border-radius: 47.93px;
                 padding-top: 1px;
                 width: 175px;
                 height: 48px;
                 margin-top: -30px;
                 margin-left: 55px;
                 position: relative;
                 z-index: 1;
             }
        }
        #Scard5{
            grid-row:2/2;
            grid-column: 3/4;
            #img5{
                img{
                        border-radius: 16px;
                       }
                }
            #date5{
                 font-size: 15.34px;
                 text-align: center;
                 justify-content: center;
                 align-items: center;
                 background-color: rgba(60, 216, 232, 1);
                 color: white;
                 border-radius: 47.93px;
                 padding-top: 1px;
                 width: 175px;
                 height: 48px;
                 margin-top: -30px;
                 margin-left: 55px;
                 position: relative;
                 z-index: 1;
             }
        }
        .gen-card{
            background-color: white;
            border-radius: 12px;
        }
}
    #view-button{
        button{
            width: 190px;
            color: white;
            background-color: black;
            border-radius: 8px;
            border-style: none;
            padding: 10px;
            margin:30px;
        }
    }
}
#footer{
    background-color: rgba(1, 172, 253, 1);
    color: white;
    #parent-div{
        padding-left: 30px;
        padding-top: 30px;
        justify-content: center;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        #footer-hero{
            flex-direction: row;
            display: flex;
            padding-left: 20px;
            padding-top: 20px;
        }
        p{
            font-size: 20px;
            padding-left: 20px;
            max-width: 400px;
        }
        #about{
            padding-top: 25px;
            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .list{
                    padding: 10px;
                }
            }
            
        }
        #socials{
            padding-top: 25px;
            padding-right: 100px;
        }
    }
}

@media screen and (max-width: 576px){
    body{
        padding: 12px 0px;
        width: 90vw;
    }
    #header{
        margin: -9px;
        margin-top: -20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-style: solid;
        border-color: rgba(254, 163, 1, 1);
    h3{
        display: none;
    }
    .burger-menu{
            align-items: center;
            display: block;
            cursor: pointer;
            padding: none;
            div{
                width: 25px;
                height: 3px;
                background-color: black;
                margin: 5px;
        } 
        }
    }
    #nav{
        display: none;
    }
    button{
        display: none;
    }  
    #banner{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0;
        #empower-head{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 0px;
            text-align: center;
            h2{
                width: 90vw;
            }
            #kid-img{
                max-width: 100%;
                box-sizing: border-box;
                img{
                    overflow: hidden;
                    height: auto;
                    max-width: 90vh;
                    display: block;
                    margin: 10px;
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                }
            }
            
        }
    }
    #Standard-Curriculum{
        display: flex;
        flex-direction: column;
        h3{
            font-size: 26px;
        }
        #card-div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center ;
            margin-bottom: 12.3px;
            justify-content: space-between;
            
        }
        .curr-card{
            margin-bottom: 12.3px;
            width: 100vh;
        }
        
    } 
    #stories{
        justify-content: center;
        #story-cards{
            width: fit-content;
            display:grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-between;
           
        #Scard1{
            display: none;
        }
        #Scard2{
            width: 173.35px;
            #img2{
                img{
                    max-width: 100%;
            max-height: 100%;
            object-fit: contain;
                }
            }
            #date2{
                max-width: 103px;
                max-height: 23px;
                font-size: 9px;
                 text-align: center;
                 justify-content: center;
                 align-items: center;
                 background-color: rgba(60, 216, 232, 1);
                 color: white;
                 border-radius: 47.93px;
                 padding-top: none;
                 padding-bottom: 8px;
                 width: 175px;
                 height: 48px;
                 margin-top: -23px;
                 margin-left: 35px;
                 position: relative;
                 z-index: 1;
            }
            
            grid-column: 1/1;
            grid-row: 1/1;
        }
        #Scard3{
            width: 173.35px;
            #img3{
                img{
                    max-width: 100%;
            max-height: 100%;
            object-fit: contain;
                }
            }
            #date3{
                max-width: 103px;
                max-height: 23px;
                font-size: 9px;
                 text-align: center;
                 justify-content: center;
                 align-items: center;
                 background-color: rgba(60, 216, 232, 1);
                 color: white;
                 border-radius: 47.93px;
                 padding-top: none;
                 padding-bottom: 8px;
                 width: 175px;
                 height: 48px;
                 margin-top: -23px;
                 margin-left: 35px;
                 position: relative;
                 z-index: 1;
            }
            grid-row: 1/1;
            grid-column: 2/2;
        }
        #Scard4{
            width: 173.35px;
            #img4{
                img{
                    max-width: 100%;
            max-height: 100%;
            object-fit: contain;
                }
            }
            #date4{
                max-width: 103px;
                max-height: 23px;
                font-size: 9px;
                 text-align: center;
                 justify-content: center;
                 align-items: center;
                 background-color: rgba(60, 216, 232, 1);
                 color: white;
                 border-radius: 47.93px;
                 padding-top: none;
                 padding-bottom: 8px;
                 width: 175px;
                 height: 48px;
                 margin-top: -23px;
                 margin-left: 35px;
                 position: relative;
                 z-index: 1;
            }
            
            grid-column: 1/1;
            grid-row: 2/2;
        }

        #Scard5{
            width: 173.35px;
            #img5{
                img{
                    max-width: 100%;
            max-height: 100%;
            object-fit: contain;
                }
            }
            #date5{
                max-width: 103px;
                max-height: 23px;
                font-size: 9px;
                 text-align: center;
                 justify-content: center;
                 align-items: center;
                 background-color: rgba(60, 216, 232, 1);
                 color: white;
                 border-radius: 47.93px;
                 padding-top: none;
                 padding-bottom: 8px;
                 width: 175px;
                 height: 48px;
                 margin-top: -23px;
                 margin-left: 35px;
                 position: relative;
                 z-index: 1;
            }
            
            grid-column: 1/1;
            grid-row: 2/2;
        }

        #Scard5{
            width: 173.35px;
            #img5{
                img{
                    max-width: 100%;
            max-height: 100%;
            object-fit: contain;
                }
            }
            #date5{
                max-width: 103px;
                max-height: 23px;
                font-size: 9px;
                 text-align: center;
                 justify-content: center;
                 align-items: center;
                 background-color: rgba(60, 216, 232, 1);
                 color: white;
                 border-radius: 47.93px;
                 padding-top: none;
                 padding-bottom: 8px;
                 width: 175px;
                 height: 48px;
                 margin-top: -23px;
                 margin-left: 35px;
                 position: relative;
                 z-index: 1;
            }
            
            grid-column: 2/2;
            grid-row: 2/2;
        }

        }
        #view-button{
            button{
                border-style: solid;
                border-color: aqua;
                background-color: black;
                display:contents;
                font-size: 16px;
            }
        }
    }
    #footer{
        background-color: rgba(1, 172, 253, 1);
        color: white;
        #parent-div{
            padding-left: 30px;
            padding-top: 30px;
            justify-content: center;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            #footer-hero{
                flex-direction: row;
                display: flex;
                padding-left: 20px;
                padding-top: 20px;
            }
            p{
                font-size: 20px;
                padding-left: 20px;
                max-width: 400px;
            }
            #about{
                padding-left: 20px;
                padding-top: 25px;
                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .list{
                        margin-left: -40px;
                    }
                }
                
            }
            #socials{
                padding-left: 20px;
                padding-top: 25px;
                padding-right: 100px;
                padding-bottom: 20px;
            }
        }
    }
    
}