@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@400;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');

body{
    background-image:  url(./assets/bg.png);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    width: 90vw;
    margin: 0px auto;
  }

#header{
    display: flex;
    justify-content: space-between;
    #school{
        display: flex;
        align-items: center;
        h3{
            font-size: 32px;
            font-weight: bold;
        }
    }
    #nav{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            list-style-type: none;
            align-items: center;
            li{
                margin-right: 20px;
                a{
                    font-size: 20px;
                    font-weight: 600px;
                    text-decoration:none;
                    text-align: center;
                    text-decoration-color: none;
                }
            }
        }
        
    }
    .burger-menu{
        display:none;
    }
    #contact{
        display: flex;
        margin: none;
        display: inline-block;
        button{
            margin-top: 30px;
            background-color: rgba(254, 163, 1, 1);
            border-radius: 12px;
            padding: 10px 60.5px;
            border-style: none;
            color: white;
            margin: none;
            margin-right: none;
            padding-right: none;
        };
    }
       
}
#banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    #empower-head{
        margin-right: 20px;
    }
    h3{
        font-size: 56px;
        margin-bottom: none;
    }
    p{
        margin-top: none;
        font-size: 20px;
    }
    button{
        background-color: orange;
        color: white;
        border-radius: 12px;
        font-size: 20px;
        border-style: none;
        width: 190px;
        height: 50px;
    }
}
#Standard-Curriculum{
    h3{
        text-align: center;
        font-size: 46px;
    }
    #card-div{
        display: flex;
        justify-content: space-between;
        .curr-card{
            padding-top: 52px;
            text-align: center;
            width: 367.8px;
            border-radius: 18.86px;
            border-style: solid;           
            }
            #card1.curr-card{
                background-image: linear-gradient(to top, white, rgba(219, 240, 250, 1));
                border-color: rgba(219, 240, 250, 1); 
            }
            #card2.curr-card{
                background-image: linear-gradient(to top, white, rgba(250, 239, 217, 1));
                border-color: rgba(250, 239, 217, 1);
            }
            #card3.curr-card{
                background-image: linear-gradient(to top, white, rgba(236, 227, 249, 1));
                border-color: rgba(236, 227, 249, 1);
            }
            
            button{
                background: none;
                background-color: transparent;
                border-style: none;
                font-size: 24px;
                cursor: pointer;
            }
        }

    }

@media screen and (max-width: 576px){
    body{
        padding: 12px 0px;
        width: 90vw;
    }
    #header{
        margin: -9px;
        margin-top: -20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-style: solid;
        border-color: rgba(254, 163, 1, 1);
    h3{
        display: none;
    }
    .burger-menu{
            align-items: center;
            display: block;
            cursor: pointer;
            padding: none;
            div{
                width: 25px;
                height: 3px;
                background-color: black;
                margin: 5px;
            } 
    }
    #nav{
        display: none;
    }
    button{
        display: none;
    }  
    }
    #banner{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0;
        #empower-head{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 0px;
            text-align: center;
            h2{
                width: 90vw;
            }
            #kid-img{
                img{
                    width: 90vw;
                    display: block;
                    margin: 10px;
                }
            }
            
        }
    }
    #Standard-Curriculum{
        display: flex;
        flex-direction: column;
        h3{
            font-size: 26px;
        }
        #card-div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center ;
            margin-bottom: 12.3px;
            justify-content: space-between;
            
        }
        .curr-card{
            margin-bottom: 12.3px;
            width: 100vh;
        }
    }

}